# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.StringCalculator.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Git\Codewars\Katas\StringCalculator\.idea\.idea.StringCalculator.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
